html {
    background-color: var(--bg-color-7);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

footer .footer-link {
    text-decoration: none; 
    color: var(--bg-color-2);
}

.text-align-left {
    text-align: left;
}

.tituloProdutos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    padding: 10px;
    background-color: var(--bg-color-7);
}

.produtosCustom {
    background: var(--bg-color-7);
}
