html {
    background-color: var(--bg-color-7);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

footer .footer-link {
    text-decoration: none; 
    color: var(--bg-color-2);
}

.text-align-left {
    text-align: left;
}
